<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body>
    <main>
      <ul class="post-container" id="postList">
        <% postList.results.forEach(function(post) {%>
        <li class = "post" >
          <div class="postedby">
            <p><%= post.postedBy.name %></p>
            <p><%= format(post.createdAt, "dd/MM/yyyy")%></p>
          </div>
          <img class="postimg" src="<%= post.imageUrl%>" alt="Post Image" />
          <p class="message"> <%= post.message %> </p>
        </li>
        <% }); %>
      </ul>

      <div class="footer">
        <%if (postList.previous) { %>
        <a class = "buttonLinks" href="<%= postList.previous %>">Previous</a>
        <% } %> <%if (postList.next) { %>
        <a class = "buttonLinks" href="<%= postList.next %>">Next</a>
        <% } %>

        <a type="submit" id = "changeColor" class = "buttonLinks">Color Me</a>
      </div>

      
    </main>
  </body>
  <%- include('_footer') -%>
</html>
