<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body>
    <ul class="userlist">
      <% results.forEach(function(user) {%>
      <li class="userlistprofile">
        <img id="userlistimg" src="<%= user.profileImageUrl %>"
        alt= "Post Image"/>
        <div class="userlistinfo">
          <div class="username"><%= user.name %></div>
          <div class="username"><%= user.username %></div>
        </div>
      </li>
      <% }); %>
    </ul>

    <%if (next) { %>
    <a href="<%= next %>">Next</a>
    <% } %> <%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
    <% } %>
  </body>
  <%- include('_footer') -%>
</html>
