<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>

  <body>
    <div class="userprofile">
      <img id="profileimg" src="<%" ="profileImageUrl" % />
      alt= "Post Image"/>
      <div class="userInfo">
        <div class="name"><%= name %></div>
        <div class="name"><%= username%></div>
      </div>
    </div>

    <div class="title">
      <p>My Posts</p>
    </div>

    <ul class="user-container">
      <% posts.forEach(function(post) {%>
      <li class="user">
        <div class="postedbyuser">
          <p><%= post.id %></p>
        </div>
        <img class="userpostimg" src="<%= post.imageUrl%>" alt="Post Image" />
        <p class="usermessage"><%= post.message %></p>
      </li>
      <% }); %>
    </ul>

    <div class="title">
      <p>Likes</p>
    </div>

    <ul class="user-container">
      <% likes.forEach(function(likes) {%>
      <li class="user">
        <div class="postedbyuser">
          <p><%= likes.id %></p>
          <p><%= likes.createdAt %></p>
        </div>
        <img class="userpostimg" src="<%= likes.imageUrl%>" alt="Post Image" />
        <p class="usermessage"><%= likes.message %></p>
      </li>
      <% }); %>
    </ul>

    <div class="title">
      <p>Dislikes</p>
    </div>

    <ul class="user-container">
      <% dislikes.forEach(function(dislikes) {%>
      <li class="user">
        <div class="postedbyuser">
          <p><%= dislikes.id %></p>
          <p><%= dislikes.createdAt %></p>
        </div>
        <img
          class="userpostimg"
          src="<%= dislikes.imageUrl%>"
          alt="Post Image"
        />
        <p class="usermessage"><%= dislikes.message %></p>
      </li>
      <% }); %>
    </ul>
  </body>

  <%- include('_footer') -%>
</html>
